<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
        https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>io.arlas.server.parent</id>
            <username>${env.CLOUDSMITH_LOGIN}</username>
            <password>${env.CLOUDSMITH_API_KEY}</password>
        </server>
        <server>
            <id>io.arlas.server.core</id>
            <username>${env.CLOUDSMITH_LOGIN}</username>
            <password>${env.CLOUDSMITH_API_KEY}</password>
        </server>
        <server>
            <id>io.arlas.server.admin</id>
            <username>${env.CLOUDSMITH_LOGIN}</username>
            <password>${env.CLOUDSMITH_API_KEY}</password>
        </server>
    </servers>
</settings>
