name: Test ARLAS-server

on: push

jobs:
  run-tests-rest:
    runs-on: ubuntu-latest
    name: Run tests [REST]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/prepare
      - name: Run tests [REST]
        env:
          # secrets are defined here : https://github.com/organizations/gisaia/settings/secrets/actions
          DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
        run: scripts/ci/tests-integration-stage.sh --stage=REST

  run-tests-rest-aliased:
    runs-on: ubuntu-latest
    name: Run tests [REST_ALIASED]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/prepare
      - name: Run tests [REST_ALIASED]
        env:
          # secrets are defined here : https://github.com/organizations/gisaia/settings/secrets/actions
          DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
        run: scripts/ci/tests-integration-stage.sh --stage=REST_ALIASED


  run-tests-rest-wkt-geometries:
    runs-on: ubuntu-latest
    name: Run tests [REST_WKT_GEOMETRIES]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/prepare
      - name: Run tests [REST_WKT_GEOMETRIES]
        env:
          # secrets are defined here : https://github.com/organizations/gisaia/settings/secrets/actions
          DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
        run: scripts/ci/tests-integration-stage.sh --stage=REST_WKT_GEOMETRIES

  run-test-wfs:
    runs-on: ubuntu-latest
    name: Run tests [WFS]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/prepare
      - name: Run tests [WFS]
        env:
          # secrets are defined here : https://github.com/organizations/gisaia/settings/secrets/actions
          DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
        run: scripts/ci/tests-integration-stage.sh --stage=WFS

  run-test-wfs-aliased:
    runs-on: ubuntu-latest
    name: Run tests [WFS_ALIASED]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/prepare
      - name: Run tests [WFS_ALIASED]
        env:
          # secrets are defined here : https://github.com/organizations/gisaia/settings/secrets/actions
          DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
        run: scripts/ci/tests-integration-stage.sh --stage=WFS_ALIASED

  run-test-csw:
    runs-on: ubuntu-latest
    name: Run tests [CSW]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/prepare
      - name: Run tests [CSW]
        env:
          # secrets are defined here : https://github.com/organizations/gisaia/settings/secrets/actions
          DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
        run: scripts/ci/tests-integration-stage.sh --stage=CSW

  run-test-csw-aliased:
    runs-on: ubuntu-latest
    name: Run tests [CSW_ALIASED]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/prepare
      - name: Run tests [CSW_ALIASED]
        env:
          # secrets are defined here : https://github.com/organizations/gisaia/settings/secrets/actions
          DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
        run: scripts/ci/tests-integration-stage.sh --stage=CSW_ALIASED

  run-test-stac-aliased:
    runs-on: ubuntu-latest
    name: Run tests [STAC_ALIASED]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/prepare
      - name: Run tests [STAC_ALIASED]
        env:
          # secrets are defined here : https://github.com/organizations/gisaia/settings/secrets/actions
          DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
        run: scripts/ci/tests-integration-stage.sh --stage=STAC_ALIASED

  run-test-stac:
    runs-on: ubuntu-latest
    name: Run tests [STAC]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/prepare
      - name: Run tests [STAC]
        env:
          # secrets are defined here : https://github.com/organizations/gisaia/settings/secrets/actions
          DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
        run: scripts/ci/tests-integration-stage.sh --stage=STAC

  run-test-stac-eo:
    runs-on: ubuntu-latest
    name: Run tests [STAC ARLAS EO]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/prepare
      - name: Run tests [STAC ARLAS EO]
        env:
          # secrets are defined here : https://github.com/organizations/gisaia/settings/secrets/actions
          DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
        run: scripts/ci/tests-integration-stage.sh --stage=STAC_ARLASEO

  run-test-doc:
    runs-on: ubuntu-latest
    name: Run tests [DOC]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/prepare
      - name: Run tests [DOC]
        env:
          # secrets are defined here : https://github.com/organizations/gisaia/settings/secrets/actions
          DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
        run: scripts/ci/tests-integration-stage.sh --stage=DOC

  run-test-auth:
    runs-on: ubuntu-latest
    name: Run tests [AUTH]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/prepare
      - name: Run tests [AUTH]
        env:
          # secrets are defined here : https://github.com/organizations/gisaia/settings/secrets/actions
          DOCKER_USERNAME: ${{ secrets.DOCKER_HUB_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
        run: scripts/ci/tests-integration-stage.sh --stage=AUTH
